@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.p-btn {
  text-transform: uppercase;
  padding: 8px 20px;
  color: white;
  background-color: #4a154b;
  border: 1px solid white;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}
.p-btn:hover {
  /* background-color: #1a76e7; */
  border-radius: 8px;
}
.p-btn-sm {
  color: white;
  background-color: #4096ff;
  padding: 0.3rem 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  border-radius: 0.4rem;
  transition: 0.2s all;
  text-align: center;
}
.p-btn-sm:hover {
  background-color: #1a76e7;
}

.home-hero {
  background-color: #e6e6e6c9;
}

.service-btn {
  background-color: black;
  color: white;
  padding: 1rem;
  letter-spacing: 0.1rem;
}

.f-title {
  color: #cb935d;
  font-family: "Protest Revolution", sans-serif;
  font-size: 22px;
  margin-bottom: 1.5rem;
}

.bg-t {
  background-color: rgba(235, 234, 234, 0.274);
}

.loading-user {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #4c86f9;
  --second-color: #49a84c;
  --third-color: #f6bb02;
  --fourth-color: #f6bb02;
  --fifth-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 6px;
  height: 100px;
}

.loading-user span {
  width: 4px;
  height: 50px;
  background: var(--first-color);
  animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading-user span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.8s;
}

.loading-user span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.7s;
}

.loading-user span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
}

.loading-user span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
}

@keyframes scale {
  0%,
  40%,
  100% {
    transform: scaleY(0.05);
  }

  20% {
    transform: scaleY(1);
  }
}
